<% layout("layouts/boilerplate") -%>
    <div class="row">
        <h1 class="text-center">Edit foodtruck</h1>
        <div class="col-6 offset-3">
            <form action="/foodtruck/<%= foodtruck._id %>?_method=PUT" method="post" class="needs-validation"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">foodtruck Name</label>
                    <input type="text" class="form-control" id="name" name="foodtruck[name]"
                        value="<%= foodtruck.name %>" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="foodtruck[location]"
                        value="<%= foodtruck.location %>" required>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Update Image</label>
                    <input type="file" class="form-control" id="img" name="img" multiple>
                    <div class="invalid-feedback">
                        Please insert a image.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-addon1">RM</span>
                        <input type="text" class="form-control" placeholder="0.0" aria-label="price"
                            aria-describedby="price-addon1" name="foodtruck[price]" value="<%= foodtruck.price %>"
                            required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Put description here" id="desc"
                            name="foodtruck[desc]" style=" height: 100px" required><%=foodtruck.desc %></textarea>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Delete</label>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                        <% foodtruck.images.forEach((img, i)=> {%>
                            <div class="col">
                                <div class="card">
                                    <img src="<%= img.thumbnail %>" class="card-img" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" id="image-<%= i %>"
                                            name="deletedImages[]" value="<%= img.filename %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

                <button class="btn btn-info text-white" style>Update venue</button>
                <a href="/foodtruck" class="btn">Cancel</a>
            </form>
        </div>
    </div>