<% layout("layouts/boilerplate") -%>
    <div id="map" style="width: 100%; height: 30rem;"></div>
    <h1>List of Foodtrucks</h1>
    <% for(let foodtruck of foodtrucks){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(foodtruck.images.length){ %>
                        <img class="image-fluid" src="<%= foodtruck.images[0].url %>" alt="" style="width: 22rem;">
                        <% }else{%>
                            <img class="image-fluid"
                                src="https://res.cloudinary.com/dq5gkn64d/image/upload/v1682837804/foodtrucks/lda9qcnqsl0fd7xm1auo.jpg"
                                alt="" style="width: 22rem;">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= foodtruck.name %>
                        </h5>
                        <p class="card-text">
                            <%= foodtruck.location %>
                        </p>
                        <a href="/foodtruck/<%= foodtruck._id %>" class="btn btn-primary">Show</a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <a href="/venue/new">Add new venue</a>\

<script>
    const mapBoxToken = "<%- process.env.MAPBOX_TOKEN%>";
    const foodtrucks = {features:<%- JSON.stringify(foodtrucks)%>}
</script>

<script src="/js/clusterMap.js"></script>