<% layout("layouts/boilerplate") -%>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="<%= foodtruck.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= foodtruck.name %>
                    </h5>
                    <p class="card-text">
                        <%= foodtruck.desc %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">RM <%= foodtruck.price %>
                    </li>
                    <li class="list-group-item">
                        <%= foodtruck.location %>
                    </li>
                    <li class="list-group-item">
                        Created by: <%= foodtruck.author.username %>
                    </li>
                </ul>
                <% if(currentUser && foodtruck.author.equals(currentUser._id)) { %>
                    <div class=" d-flex justify-content-between card-body">
                        <div>
                            <a href="/foodtruck/<%= foodtruck._id %>/edit"
                                class="card-link btn btn-primary text-white">Update
                                Venue</a>
                            <a href="/foodtruck" class="btn card-link">Back</a>
                        </div>
                        <div>
                            <form action="/foodtruck/<%= foodtruck._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>

        </div>
        <div class="col-6">
            <form action="/foodtruck/<%= foodtruck._id %>/review" method="post" class="card-body needs-validation"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label for="review" class="form-label">Review</label>
                    <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3"
                        required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for(let review of foodtruck.reviews){ %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rating: <%= review.rating %>
                        </h5>
                        <p class="card-text">
                            Review: <%= review.body %>
                        </p>
                        <form action="/foodtruck/<%= foodtruck._id %>/review/<%= review._id %>?_method=DELETE"
                            method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>